<div class="container__modal" [ngClass]="{'background__slider-btn': modalShow === true}">
    <div class="container__modal-body">
        <div class="container__modal-body-main">
            <div class="container__close">
                <img class="contacto__formulario-formulario-times__close" (click)="closeModal()" src="../../../assets/times-close.svg" alt="">
            </div>
            <div class="container__titulo">
                <h2>Politica de Privacidad</h2>
            </div>
            <div class="container__condiciones">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat at officiis accusantium incidunt maiores, quibusdam distinctio hic veniam, recusandae necessitatibus voluptates commodi, illum voluptas. Dolore culpa et provident nostrum sit!
                </p>
            </div>
          </div>
    </div>
</div>
