@font-face {
    font-family: 'Hanson_Bold';
    src: url('../../../assets/fonts/Hanson-Bold.ttf'); 
}
@font-face {
    font-family: 'MonumentExtended_Regular';
    src: url('../../../assets/fonts/monumentextended-regular.otf'); 
}
@font-face {
    font-family: 'MonumentExtended_Bold';
    src: url('../../../assets/fonts/monumentextended-ultrabold.otf'); 
}
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
    color: #fff;
    background: #1a1a1a;
}
.container__banner{
    .container__banner-image{
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
}
.container__double{
    display: flex;
    justify-content: center;
    .container__double-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        width: 80%;
        height: calc(108px * 5);
        overflow: hidden;
        .container__double-card-recomendados{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 408px;
            display: grid;
            gap: 13px;
            width: 98%;
            padding-right: 13px;
            background: transparent;
            &-title{
                padding: 0.5em 0;
                margin: 1em 1em 1em 0;
                display: flex;
                justify-content: center;
                width: 100%;
                font-family: 'Hanson_Bold';
                letter-spacing: 2px;
                text-transform: uppercase;
                align-items: center;
                img{
                    width: 53px;
                    height: 30px;
                    background: transparent;
                    margin-right: 0.7em;
                }
                
                .image-top10{
                    width: 29px;
                    height: 28px;
                    background: transparent;
                }
            }
            &-song{
                display: flex;
                width: 100%;
                height: 90px;
                &-first{
                    display: flex;
                    padding: 0.6em 1em;
                    width: 100%;
                    background: #1a1a1a;
                    align-items: center;
                    &-image{
                        width: 58px;
                        height: 57px;
                        background: transparent;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    &-number-id{
                        font-family: 'Hanson_Bold';
                        font-size: 34px;
                        padding-right: 0.4em;
                        color: #8A8A8A;                    
                    }
                    &-container{
                        padding: 0 1em;
                        background: #1a1a1a;
                        h4{
                            font-size: 1.3em;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                    }
                }
                &-second{
                    background: #1a1a1a;
                    padding: 0.6em 3em 0.6em 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h5{
                        font-weight: 500;
                        letter-spacing: 1px;
                        font-size: 0.9em;
                        transition: all .1.7s ease-in;
                        &:hover{
                            color: #ff3100;
                        }
                    }
                    p{
                        font-weight: 500;
                        letter-spacing: 1px;
                        font-size: 0.9em;
                    }
                    :hover{
                        cursor: pointer;
                    }
                }
                &-three{
                    background: #1a1a1a;
                    padding: 0.6em 1em 0.6em 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    svg{
                        width: 27px;
                        height: 22px;
                        padding: 0 0.3em;
                        background: transparent;
                    }
                    :hover{
                        cursor: pointer;
                        stroke: #ff3100;
                        fill: #ff3100;
                    }
                }
            }
            &::-webkit-scrollbar{
                width: 0.4em;
                background: transparent;
                height: 100px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #ff3100;
                border-radius: 8px;
            }
            &{
                scrollbar-color: #ff3100 #000; 
                scrollbar-width: thin;
            }
        }
    }
}
.container__list{
    .container__list-song-head{
        align-self: center;
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 3em;
        &-ul{
            color: #fff;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            list-style: none;
            font-family: 'Hanson_Bold';
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2.5px;
            font-weight: 200;
            background: #2c2c2c;
            width: 80%;
            padding: 0;
            text-align: center;
            overflow: hidden;
            li{
                margin: 1.5em -1em;
                background: #2c2c2c;

            }
            // :first-child{
            //     padding-left: 8em;
            // }
            :last-child{
                padding-right: 20px;
            }
        }
    }
    .container__container-list{
        background: url("../../../assets/index-usuario/background-tabla.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        .container__list-song{
            width: 100vw;
            justify-content: center;
            display: flex;
            background: transparent;
            &-card{
                width: 80%;
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                align-items: center;
                background: #2c2c2cd1;
                margin: 0.2em 0;
                padding: 0.3em 0;
                text-align: center;
                &-item{
                    background: transparent;
                    padding: 0 0.5em;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    img{
                        width: 73px;
                        height: 72px;
                    }
                    &-fecha{
                        display: flex;
                        align-items: center;
                        background: transparent;
                        padding-left: 1em;
                        &-estampas{
                            background: transparent;
                            img{
                                background: transparent;
                            }
                        }
                        p{
                            background: transparent;
                            padding: 0 0.5em;
                        }
                    }
                    p{
                        background: transparent;
                        font-weight: 500;
                    }
                }
                &-item-previoDescarga{
                    display: flex;
                    background: transparent;
                    justify-content: center;
                    margin-bottom: 0.8em;
                    .puntoVerdeTabla{
                        width: 7px;
                        height: 6px;
                    }
                    .svg-previoDescarga{
                        width: 18px;
                        height: 25px;
                        background: transparent;
                        margin: 0 0.8em;
                        #play{
                            &:hover{
                                fill: #ff3100;
                                cursor: pointer;
                            }
                        }
                        #download{
                            &:hover{
                                fill: #ff3100;
                                stroke: #ff3100;
                                cursor: pointer;
                            }
                        }
                        #love{
                            width: 1.1em;
                            height: 1.1em;
                            &:hover{
                                fill: #ff3100;
                                stroke: #ff3100;
                                cursor: pointer;
                            }
                        }
                        
                    }
                }
                .previoDescarga__botonera{
                    background: transparent;
                    justify-content: center;
                    display: flex;
                    margin-right: 0.5em;
                    margin-top: 0.5em;
                    justify-content: space-between;
                    img{
                        width: 7px;
                        height: 6px;
                    }
                    :nth-child(2){
                        margin: 0 0.4em;
                    }
                }
                &:hover{
                    background: #2c2c2c83;
                }
            }
            :nth-child(1){
                img{
                    margin: 0 5px;
                    cursor: pointer;
                }
            }
            :nth-child(2){
                margin: 0 auto;
                padding: 0;
                img{
                    background: transparent;
                    cursor: pointer;
                    position: relative;
                    margin: 0 auto;
                    width: min-content;
                }
            }
            :nth-child(7){
                :hover{
                    color: #ff3100;
                    cursor: pointer;
                }
            }
            :nth-child(8){
                img{
                    :hover{
                        cursor: pointer;
                    }
                }
                
            }
            
        }
    }
    &-pagination{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 2em;
        font-weight: bold;
        &-pagination{
            display: flex;
            justify-content: space-around;
            width: min-content;
            align-items: center;
            width: 80%;
            position: relative;
                &-template{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    
                    .container__list-pagination-pagination-pagina{
                        a{  
                            background: #ff3100;
                            padding: 0.5em 0.8em;
                            color: #fff;
                            border-radius: 200%;
                            margin: 0 0.5em;
                            font-weight: 400;
                            transition: .2s all ease-in;
                            cursor: pointer;
                            
                        }
                        :hover:not(p){
                            background-color: #fff;
                            color: #000;
                            font-weight: bold;
                            cursor: pointer;
                        }
                        
                    }
                    .container__button-pagination{
                            .container__button-pagination-btn{
                                background: #ff3100;
                                padding: 0.5em 0.8em;
                                margin: 0 0.5em;
                                border-radius: 200%;
                                color: #fff;
                                font-weight: 400;
                                transition: .1s all ease-in;
                                cursor: pointer;
                            }
                            :hover{
                                background-color: #fff;
                                color: #000;
                                font-weight: bold;
                                cursor: pointer;
                            }
                        
                        }
                        .container__list-pagination-pagination-pagina-active{
                            background: rgb(255, 255, 255);
                            padding: 0.5em 0.8em;
                            border-radius: 200%;
                            margin: 0 0.5em;
                            color: #000;
                        }
                    }
                }
                .pagination__nav{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    p{
                        background: transparent;
                    }
                }
    }
}
.container__footer{
    padding-top: 5em;
}
@media only screen and (min-width: 230px) and (max-width: 450px){
    .container__header{
        .container__menu{
            display: flex;
            align-self: self-end;
            padding: 0.5em;
            img{
                justify-content: flex-end;
                width: 3.2em;
                height: 3.2em;
            }
        }
        .header__nav{
            position: absolute;
            flex-direction: column;
            background: transparent;
            backdrop-filter: none;
            .container__header-logo{
                display: none;
            }
            .header__nav-enlaces{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 3em 0 0 0;
                margin-top: 0;
                background: #000000db;
                backdrop-filter: blur(5px);
                li:last-child{
                    order: -1;
                    height: 62px;
                }
            }
            .container__submenu-remixes {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                z-index: 9999;
                padding: 0;
                border-bottom: 2px solid #ff3000;
                .container__submenu-remixes-close{
                    display: block;
                    grid-column: 1/2;
                    justify-self: end;
                    margin-right: 2em;
                    margin-top: 0.5em;
                    background: transparent;
                    img{
                        display: flex;
                        width: 2em;
                        height: 2em;
                        background: transparent;
                    }
                }
            }
            .container__dropdown{
                position: absolute;
                top: 5px;
                left: 5px;
                height: 62px;
                &-dropdown{
                    &-menu{
                        top: 4em;
                    }
                }
            }
        }
    }
    .container__banner{
        border-top: 2px solid #fff;
        .container__banner-image{
            width: 100%;
            height: 10em;
        }
    }
    .container__double{
        .container__double-card{
            display: flex;
            grid-template-columns:none;
            height: auto;
            flex-direction: column;
            width: 100%;
            .container__double-card-recomendados-title{
                font-size: 0.9em;
                letter-spacing: 1px;
                padding: 1em 0;
                img{
                    width: 43px;
                    height: 25px;
                }
            }
            .container__double-card-recomendados{
                width: auto;
                padding-right: 0;
                &-song{
                    flex-direction: column;
                    height: auto;
                    &-second{
                        display: none;
                    }
                }
            }
        }
    }
    .container__list{
        margin: 0 1em;
        background: cover;
        .container__list-song-head{
           display: none;
        }
        .container__container-list{
            width: auto;
            .container__list-song{
                width: auto;
                background: transparent;
                .container__list-song-card{
                    width: 100%;
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 1.1em;
                    background: #2c2c2c;
                    margin: 0.2em 0;
                    padding: 0.3em 0;
                    text-align: center;
                    &-item{
                        background: transparent;
                        &-item-fecha{
                            margin-bottom: 1em;
                            flex-direction: column;
                            &-estampas{
                                background: transparent;
                                padding: 15px 0;
                                img{
                                    padding: 0.7em;
                                }
                            }
                        }
                    }
                    .container__list-song-card-item-fecha{
                        flex-direction: column;
                        .container__list-song-card-item-fecha-estampas{
                            padding: 15px 0;
                        }
                    }
                    &:hover{
                        background: #2c2c2c83;
                    }
                }
            }
        }
        .container__list-pagination{
            .container__list-pagination-pagination{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2em;
                grid-template-rows: 1fr 1fr;
                    .container__list-pagination-pagination-template{
                        flex-wrap: wrap;
                        height: 7em;
                    }
                    .pagination__nav{
                         position: initial!important;
                        text-align: center;
                        font-weight: 500;
                    }
                }
        }
    }
}
@media only screen and (min-width: 450px) and (max-width : 576px){
    .container__list{
        padding: 0;
        background-size: cover;
        .container__list-song-head{
            display: none;
        }
        .container__container-list{
            width: 100%;
            .container__list-song{
                background: transparent;
                .container__list-song-card{
                    background: #2c2c2cd1;
                    width: 100%;
                    grid-template-columns: 1fr;
                    gap: 0.8em;
                    .container__list-song-card-item-fecha{
                        flex-direction: column;
                        &-estampas{
                            :nth-child(1){
                                padding: 15px 10px 15px 0;
                                &::before{
                                    content: "";
                                    width: 1em;
                                    height: 1em;
                                    background: red;
                                    border-radius: 100%;
                                }
                            }
                            :nth-child(2){
                                padding: 15px 0 15px 10px;
                            }
                        }
                    }
                    &:last-child{
                        padding-bottom: 2em;
                        .container__list-song-card-item-previoDescarga{
                            padding-bottom: 2em;
                            img{
                                width: 2em;
                                height: 2em;
                            }
                        }
                    }
                }
            }
            .container__list-pagination{
                .container__list-pagination-pagination{
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    grid-template-rows: 1fr;
                        .pagination__nav{
                             position: initial!important;
                            text-align: center;
                            font-weight: 500;
                        }
                    }
            }
        }
    }
    .container__double{
        .container__double-card{
            display: flex;
            grid-template-columns:none;
            height: auto;
            flex-direction: column;
            width: 100%;
            .container__double-card-recomendados-title{
                font-size: 0.9em;
                letter-spacing: 1px;
                padding: 1em 0;
                img{
                    width: 43px;
                    height: 25px;
                }
            }
            .container__double-card-recomendados{
                &-song{
                    &-second{
                        display: none;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 577px) and (max-width : 768px){
    .container__header{
        .container__menu{
            display: flex;
            align-self: self-end;
            padding: 0.5em;
            img{
                justify-content: flex-end;
                width: 3.2em;
                height: 3.2em;
            }
        }
        .header__nav{
            position: initial;
            flex-direction: column;
            backdrop-filter: none;
            background: transparent;
            .container__header-logo{
                display: none;
            }
            .header__nav-enlaces{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                margin-top: 0;
                background: #000000db;
                backdrop-filter: blur(5px);
                li:last-child{
                    order: -1;
                    height: 62px;
                }
            }
            .container__submenu-remixes {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                z-index: 9999;
                padding: 0;
                border-bottom: 2px solid #ff3000;
                .container__submenu-remixes-close{
                    display: block;
                    grid-column: 1/2;
                    justify-self: end;
                    margin-right: 2em;
                    margin-top: 0.5em;
                    background: transparent;
                    img{
                        display: flex;
                        width: 2em;
                        height: 2em;
                        background: transparent;
                    }
                }
            }
            .container__dropdown{
                position: absolute;
                top: 5px;
                left: 5px;
                height: 62px;
                &-dropdown{
                    &-menu{
                        top: 4em;
                    }
                }
            }
        }
    }
    .container__banner{
        border-top: 2px solid #fff;
        .container__banner-image{
            width: 100%;
        }
    }
    .container__double{
        .container__double-card{
            display: flex;
            grid-template-columns:none;
            height: auto;
            flex-direction: column;
            width: 100%;
            .container__double-card-recomendados-title{
                font-size: 0.9em;
                letter-spacing: 1px;
                padding: 1em 0;
                img{
                    width: 43px;
                    height: 25px;
                }
            }
            .container__double-card-recomendados{
                &-song{
                    &-second{
                        display: block;
                    }
                }
            }
        }
    }
    .container__list{
        .container__list-song-head{
            &-ul{
                display: none;
            }
        }
        .container__container-list{
            width: 100%;
            .container__list-song{
                background: transparent;
                .container__list-song-card{
                    width: 100%;
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr;
                    gap: 1.1em;
                    background: #2c2c2cd1;
                    margin: 0.2em 0;
                    padding: 0.3em 0;
                    text-align: center;
                    &-item-fecha{
                        flex-direction: column;
                        margin-bottom: 1em;
                        &-estampas{
                            background: transparent;
                            img{
                                padding: 0.7em;
                            }
                            :first-child{
                                height: min-content;
                            }
                        }
                    }
                    :nth-child(5){
                        display: none;
                    }
                    :nth-child(6){
                        display: none;
                    }
                    :nth-child(7){
                        display: none;
                    }
                    
                }
            }
        }
        .container__list-pagination{
            .container__list-pagination-pagination{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2em;
                grid-template-rows: 1fr 1fr;
                    .pagination__nav{
                         position: initial!important;
                        text-align: center;
                        font-weight: 500;
                    }
                }
            }
    }
}
@media only screen and (min-width: 769px) and (max-width : 991px){
    .container__header{
        .container__menu{
            display: flex;
            align-self: self-end;
            padding: 0.5em;
            img{
                justify-content: flex-end;
                width: 3.2em;
                height: 3.2em;
            }
        }
        .header__nav{
            position: absolute;
            flex-direction: column;
            background: transparent;
            backdrop-filter: none;
            .container__header-logo{
                display: none;
            }
            .header__nav-enlaces{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 3em 0 0 0;
                background: #000000db;
                backdrop-filter: blur(5px);
                li:last-child{
                    order: -1;
                    height: 62px;
                }
            }
            .container__submenu-remixes {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                z-index: 9999;
                padding: 0;
                border-bottom: 2px solid #ff3000;
                .container__submenu-remixes-close{
                    display: block;
                    grid-column: 1/2;
                    justify-self: end;
                    margin-right: 2em;
                    margin-top: 0.5em;
                    background: transparent;
                    img{
                        display: flex;
                        width: 2em;
                        height: 2em;
                        background: transparent;
                    }
                }
            }
            .container__dropdown{
                position: absolute;
                top: 5px;
                left: 5px;
                height: 62px;
                &-dropdown{
                    &-menu{
                        top: 4em;
                    }
                }
            }
        }
    }
    .container__banner{
        border-top: 2px solid #fff;
        .container__banner-image{
            width: 100%;
        }
    }
    .container__double{
        .container__double-card{
            display: flex;
            grid-template-columns:none;
            height: auto;
            flex-direction: column;
            width: 100%;
            .container__double-card-recomendados-title{
                font-size: 0.9em;
                letter-spacing: 1px;
                padding: 1em 0;
                img{
                    width: 43px;
                    height: 25px;
                }
            }
            .container__double-card-recomendados{
                &-song{
                    &-second{
                        display: block;
                    }
                }
            }
        }
    }
    .container__list{
        margin: 0 1em;
        .container__list-song-head{
            &-ul{
                display: none;
            }
        }
        .container__container-list{
            width: 100%;
           
            .container__list-song-card{
                width: 100%;
                .container__list-song-card-item-fecha{
                    .container__list-song-card-item-fecha-estampas{
                        background: transparent;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width : 1199px){
    .container__header{
        .container__menu{
            display: flex;
            align-self: self-end;
            padding: 0.5em;
            position: relative;
            img{
                justify-content: flex-end;
                width: 3.2em;
                height: 3.2em;
            }
        }
        .header__nav{
            position: absolute;
            flex-direction: column;
            background: transparent;
            backdrop-filter: none;
            .container__header-logo{
                display: none;
            }
            .header__nav-enlaces{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 3em 0 0 0;
                background: #000000db;
                backdrop-filter: blur(5px);
                li:last-child{
                    order: -1;
                    height: 62px;
                }
            }
            .container__submenu-remixes{
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                z-index: 9999;
                padding: 0;
                border-bottom: 2px solid #ff3000;
                
            }
            .container__dropdown{
                position: absolute;
                top: 4px;
                left: 5px;
                height: 62px;
                &-dropdown{
                    &-menu{
                        top: 4em;
                    }
                }
            }
        }
    }
    .container__banner{
        border-top: 2px solid #fff;
        .container__banner-image{
            width: 100%;
        }
    }
    .container__double{
        .container__double-card{
            display: flex;
            grid-template-columns:none;
            height: auto;
            flex-direction: column;
            width: 100%;
            .container__double-card-recomendados-title{
                font-size: 0.9em;
                letter-spacing: 1px;
                padding: 1em 0;
                img{
                    width: 43px;
                    height: 25px;
                }
            }
            .container__double-card-recomendados{
                &-song{
                    &-second{
                        display: block;
                    }
                }
            }
        }
    }
    .container__list{
        margin: 0 1em;
        background-size: cover;
        .container__container-list{
            width: 100%;
                .container__list-song-card{
                    width: 100%;
                    .container__list-song-card-item-fecha{
                        .container__list-song-card-item-fecha-estampas{
                            background: transparent;
                    }
                }
            }
        }
        .container__list-song-head{
            &-ul{
                display: none;
            }
        }
        
        .container__list-pagination{
            .container__list-pagination-pagination{
                .container__list-pagination-pagination-template{
                    .container__list-pagination-pagination-pagina{
                        .pagination__nav{
                            display: block!important;
                            font-weight: 500;
                            p{
                                display: block!important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1490px){
    .container__header{
        .header__nav{
            .container__header-logo{
                img{
                    width: 115px;
                    height: 45px;
                }
            }
            .container__submenu-remixes{
                position: absolute;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                background: #585858;
                border-top: 2px solid #ff3000;
                top: 4.2em;
                width: auto;
                padding: 0.5em;
            }
        }
        .container__submenu-buscador-fondo-fondo{
            width: auto;
            top: 4em;
        }
    }
    .container__banner{
        .container__banner-image{
            width: 95%;
        }
    }
    .container__double{
        .container__double-card{
            gap: 1em;
            width: 95%;
        }
    }
    .container__list{
        .container__list-song{
            &-head{
                &-ul{
                    width: 95%;
                }
            }
        }
        .container__container-list{
            width: 95%;
                .container__list-song-card{
                    width: 95%;
                    .container__list-song-card-item-fecha{
                        .container__list-song-card-item-fecha-estampas{
                            background: transparent;
                    }
                }
            }
        }
        .container__list-pagination-pagination-template{
            width: 95%;
        }
    }

}

