<section>
    <app-menu-responsive [logo]=true [buscador]=true></app-menu-responsive>
</section>

<main>
    <section class="container__banner"> 
        <img class="container__banner-image" src="../../../assets/index-usuario/banner-index-usuario.png" alt="">
    </section>
    <section class="container__double">
        <div class="container__double-card">
            <div >
                <h2 class="container__double-card-recomendados-title"><img src="../../../assets/index-usuario/recomendados.png" alt="">Recomendados</h2>
                <div class="container__double-card-recomendados">
                    <div class="container__double-card-recomendados-song" *ngFor="let song of listaSong">
                        <div class="container__double-card-recomendados-song-first">
                            <div class="container__double-card-recomendados-song-first-image elemento">
                                <img class="elemento" src={{song.image}} alt="" >
                            </div>
                            <div class="container__double-card-recomendados-song-first-container">
                                <p>{{song.autor}}</p>
                                <h4>{{song.nombre}}</h4>
                                <p>{{song.subtitulo}}</p>
                            </div>
                        </div>
                        <div class="container__double-card-recomendados-song-second">
                            <h5>{{song.genero}}</h5>
                            <p>{{song.puntaje}}</p>
                        </div>
                        <div class="container__double-card-recomendados-song-three">
                            <svg width="64px" height="64px" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#fff" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#fff"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>

                            <svg fill="#ffffff" width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="download" d="M7.293,13.707a1,1,0,1,1,1.414-1.414L11,14.586V3a1,1,0,0,1,2,0V14.586l2.293-2.293a1,1,0,0,1,1.414,1.414l-4,4a1,1,0,0,1-.325.216.986.986,0,0,1-.764,0,1,1,0,0,1-.325-.216ZM22,12a1,1,0,0,0-1,1v7H3V13a1,1,0,0,0-2,0v8a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V13A1,1,0,0,0,22,12Z"></path></g></svg>

                            <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .sharpcorners_een{fill:#ffffff;} .st0{fill:#ffffff;} </style> <path id="love" class="sharpcorners_een" d="M31,11c0,11-14,18-15,18S1,22,1,11c0-4.418,3.582-8,8-8c3.014,0,5.636,1.668,7,4.13 C17.364,4.668,19.986,3,23,3C27.418,3,31,6.582,31,11z"></path> </g></svg>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <h2 class="container__double-card-recomendados-title"><img src="../../../assets/index-usuario/top10.png" alt="" class="image-top10">Top 10 semanal</h2>
                <div class="container__double-card-recomendados">
                    <div class="container__double-card-recomendados-song" *ngFor="let song of listaSong">
                        <div class="container__double-card-recomendados-song-first">
                            <p class="container__double-card-recomendados-song-first-number-id">{{song.id}}</p>
                            <div class="container__double-card-recomendados-song-first-image elemento">
                                <img class="elemento" src={{song.image}} alt="">
                            </div>
                            <div class="container__double-card-recomendados-song-first-container">
                                <p>{{song.autor}}</p>
                                <h4>{{song.nombre}}</h4>
                                <p>{{song.subtitulo}}</p>
                            </div>
                        </div>
                        <div class="container__double-card-recomendados-song-second">
                            <h5>{{song.genero}}</h5>
                            <p>{{song.puntaje}}</p>
                        </div>
                        <div class="container__double-card-recomendados-song-three">
                            <svg width="64px" height="64px" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#fff" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#fff"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>

                            <svg fill="#ffffff" width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="download" d="M7.293,13.707a1,1,0,1,1,1.414-1.414L11,14.586V3a1,1,0,0,1,2,0V14.586l2.293-2.293a1,1,0,0,1,1.414,1.414l-4,4a1,1,0,0,1-.325.216.986.986,0,0,1-.764,0,1,1,0,0,1-.325-.216ZM22,12a1,1,0,0,0-1,1v7H3V13a1,1,0,0,0-2,0v8a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V13A1,1,0,0,0,22,12Z"></path></g></svg>

                            <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .sharpcorners_een{fill:#ffffff;} .st0{fill:#ffffff;} </style> <path id="love" class="sharpcorners_een" d="M31,11c0,11-14,18-15,18S1,22,1,11c0-4.418,3.582-8,8-8c3.014,0,5.636,1.668,7,4.13 C17.364,4.668,19.986,3,23,3C27.418,3,31,6.582,31,11z"></path> </g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container__list">
        <div class="container__list-song-head">
            <ul class="container__list-song-head-ul">
                <li>Fecha</li>
                <li>Remixer</li>
                <li>Artista</li>
                <li>Tema</li>
                <li>Version</li>
                <li>BPM</li>
                <li>Genero</li>
                <li>Previo/Descarga</li>
            </ul>
        </div>
        <div class="container__container-list">
            <div class="container__list-song" *ngFor="let item of songsList | paginate: { itemsPerPage: itemForPage, currentPage: numberPage}" >
                <div class="container__list-song-card">
                    <div class="container__list-song-card-item-fecha" >
                        <div class="container__list-song-card-item-fecha-estampas" >
                            <img src="../../../assets/index-usuario/hot.png" alt="">
                            <img src="../../../assets/index-usuario/new.png" alt="">
                        </div>
                        <p>{{item.fecha}}</p>
                    </div>
                    <div class="container__list-song-card-item elemento" >
                        <img class="elemento" src={{item.remixerLogo}} alt="">
                    </div>
                    <div class="container__list-song-card-item">
                        <p>{{item.artista}}</p>
                    </div>
                    <div class="container__list-song-card-item">
                        <p>{{item.tema}}</p>
                    </div>
                    <div class="container__list-song-card-item">
                        <p>{{item.version}}</p>
                    </div>
                    <div class="container__list-song-card-item">
                        <p>{{item.bpm}}</p>
                    </div>
                    <div class="container__list-song-card-item">
                        <p>{{item.genero}}</p>
                    </div>
                    <div class="container__list-song-card-item">
                        <div class="container__list-song-card-item-previoDescarga">

                            <svg class="svg-previoDescarga" width="64px" height="64px" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#fff" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#fff"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>

                            <svg class="svg-previoDescarga" fill="#ffffff" width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="download" d="M7.293,13.707a1,1,0,1,1,1.414-1.414L11,14.586V3a1,1,0,0,1,2,0V14.586l2.293-2.293a1,1,0,0,1,1.414,1.414l-4,4a1,1,0,0,1-.325.216.986.986,0,0,1-.764,0,1,1,0,0,1-.325-.216ZM22,12a1,1,0,0,0-1,1v7H3V13a1,1,0,0,0-2,0v8a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V13A1,1,0,0,0,22,12Z"></path></g></svg>

                            <svg class="svg-previoDescarga" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .sharpcorners_een{fill:#ffffff;} .st0{fill:#ffffff;} </style> <path id="love" class="sharpcorners_een" d="M31,11c0,11-14,18-15,18S1,22,1,11c0-4.418,3.582-8,8-8c3.014,0,5.636,1.668,7,4.13 C17.364,4.668,19.986,3,23,3C27.418,3,31,6.582,31,11z"></path> </g></svg>

                        </div>
                        <div class="previoDescarga__botonera">
                            <img src="../../../assets/index-usuario/puntoverde.png" class="puntoVerdeTabla" alt="">
                            <img src="../../../assets/index-usuario/puntoverde.png" class="puntoVerdeTabla" alt="">
                            <img src="../../../assets/index-usuario/puntorojo.png" class="puntoVerdeTabla" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__list-pagination">
            <div class="container__list-pagination-pagination">
                <pagination-template class="container__list-pagination-pagination-template" #p="paginationApi"
                (pageChange)="numberPage = $event"
                (pageBoundsCorrection)="pageBoundsCorrection.emit($event)">

                    <div class="pagination-previous container__list-pagination-pagination-pagina" [class.disabled]="p.isFirstPage()" [ngClass]="{'container__list-pagination-pagination-pagina': p.isFirstPage() === false}">
                        <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
                    </div>
            
                    <div class="container__list-pagination-pagination-pagina" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            {{ page.label }}
                        </a>
                        <div class="container__list-pagination-pagination-pagina-active " *ngIf="p.getCurrent() === page.value">
                            {{ page.label }}
                        </div>
                    
                    </div>
                    
                    <div class="pagination-next" [class.disabled]="p.isLastPage()" [ngClass]="{'container__list-pagination-pagination-pagina': p.isLastPage() === false}" >
                        <a class="container__list-pagination-pagination-pagina" *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                        <a class="container__list-pagination-pagination-pagina" *ngIf="!p.isLastPage()">{{totalPageList}}</a>
                    </div>
                </pagination-template>
                <div class="pagination__nav">
                    <p class="pagination__nav-text">Página {{p.getCurrent()}} de {{totalPageList}}</p>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="container__footer">
    <app-footer></app-footer>
</section>