<header class="container__header">
    
    <div class="container__menu">
      <img class="container__menu-menu" src="../../../assets/responsive/menu-svgrepo-com.svg" (click)="mostrarMenu()" alt="">
    </div>
    <nav class="header__nav" >
        <div class="container__header-logo">
            <img src="../../../assets/index-usuario/logo-index-usuario.png" alt="">
        </div>
        <ul class="header__nav-enlaces" (mouseover)="openSubmenu($event)" *ngIf="menuResponsiveActivado">
            <li><a class="header__nav-enlaces-a" routerLink="/usuario" (mouseover)="openSubmenu($event)">inicio</a></li>
            <li><a class="header__nav-enlaces-a" (mouseover)="openSubmenu($event)">nuevos videos</a></li>
            <li><a class="header__nav-enlaces-a" (mouseover)="openSubmenu($event)">remixes</a></li>
            <li><a class="header__nav-enlaces-a" (mouseover)="openSubmenu($event)">generos</a></li>
            <li><img src="../../../assets/index-usuario/search.svg" alt=""></li>
        </ul>

        <!-- SUBMENUS REMIXES Y GENERO-->
        <div class="container__submenu-remixes submenu-excluido" *ngIf="submenuRemixe">
            <div class="container__submenu-remixes-close">
                <img src="../../../assets/index-usuario/times-close.svg" alt="">
            </div>
            <div class="container__submenu-remixes-remixes submenu-excluido" *ngFor="let remixers of listRemixers" >
                <ul class="submenu-excluido">
                    <li class="submenu-excluido"><img class="submenu-excluido "src={{remixers.image}} alt=""></li>
                    <li class="submenu-excluido">{{remixers.nombre}}</li>
                </ul>
            </div>
        </div>
        <div class="container__submenu-remixes submenu-excluido" *ngIf="submenuGeneros">
            <div class="container__submenu-remixes-remixes submenu-excluido" *ngFor="let generos of listGeneros">
                <ul class="submenu-excluido">
                    <li class="submenu-excluido">{{generos.nombre}}</li>
                </ul>
            </div>
        </div>
        <!-- SUBMENUS REMIXES Y GENERO-->
        <!-- SUBMENU MI CUENTA -->
        <div class="container__dropdown submenu-excluido">
            <div class="container__dropdown-dropdown submenu-excluido"  (mouseover)="openSubmenu($event)" (click)="openSubmenu($event)">
                <button class="container__dropdown-dropdown-btnToggle submenu-excluido">
                    <img class="submenu-excluido" src="../../../assets/index-usuario/love.svg" alt="">Mi cuenta
                </button>
                <ul class="container__dropdown-dropdown-menu submenu-excluido" *ngIf="dropdownMenu">
                  <li class="submenu-excluido" routerLink="perfil"><a class="dropdown-item submenu-excluido"><img src="../../../assets/index-usuario/user-account-profile.svg" alt="" class="submenu-excluido">Mi Perfil</a></li>
                  <li class="submenu-excluido"><a class="dropdown-item submenu-excluido"><img src="../../../assets/index-usuario/download.svg" class="submenu-excluido" alt="">Descargas</a></li>
                  <li class="submenu-excluido" routerLink="membresia"><a class="dropdown-item submenu-excluido"><img src="../../../assets/index-usuario/membrasias.png" class="submenu-excluido" alt="">Membresia</a></li>
                  <li class="submenu-excluido"><a class="dropdown-item submenu-excluido" routerLink="/">Cerrar Sesión</a></li>
                </ul>
              </div>
        </div>
        <!-- SUBMENU MI CUENTA -->
    </nav>
</header>
<main>
    <section class="container__banner"> 
        <img class="container__banner-image" src="../../../assets/index-usuario/banner-index-usuario.png" alt="">
    </section>
    <section class="container__double">
        <div class="container__double-card">
            <div >
                <h2 class="container__double-card-recomendados-title"><img src="../../../assets/index-usuario/recomendados.png" alt="">Recomendados</h2>
                <div class="container__double-card-recomendados">
                    <div class="container__double-card-recomendados-song" *ngFor="let song of listaSong">
                        <div class="container__double-card-recomendados-song-first">
                            <img class="container__double-card-recomendados-song-first-image" src={{song.image}} alt="" >
                            <div class="container__double-card-recomendados-song-first-container">
                                <p>{{song.autor}}</p>
                                <h4>{{song.nombre}}</h4>
                                <p>{{song.subtitulo}}</p>
                            </div>
                        </div>
                        <div class="container__double-card-recomendados-song-second">
                            <h5>{{song.genero}}</h5>
                            <p>{{song.puntaje}}</p>
                        </div>
                        <div class="container__double-card-recomendados-song-three">
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconStart}} alt="" >
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconDownload}} alt="" >
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconLove}} alt="" >
                        </div>
                    </div>

                </div>
            </div>
            <div >
                <h2 class="container__double-card-recomendados-title"><img src="../../../assets/index-usuario/top10.png" alt="" class="image-top10">Top 10 semanal</h2>
                <div class="container__double-card-recomendados">
                    <div class="container__double-card-recomendados-song" *ngFor="let song of listaSong">
                        <div class="container__double-card-recomendados-song-first">
                            <img class="container__double-card-recomendados-song-first-image" src={{song.image}} alt="" >
                            <div class="container__double-card-recomendados-song-first-container">
                                <p>{{song.autor}}</p>
                                <h4>{{song.nombre}}</h4>
                                <p>{{song.subtitulo}}</p>
                            </div>
                        </div>
                        <div class="container__double-card-recomendados-song-second">
                            <h5>{{song.genero}}</h5>
                            <p>{{song.puntaje}}</p>
                        </div>
                        <div class="container__double-card-recomendados-song-three">
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconStart}} alt="" >
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconDownload}} alt="" >
                            <img class="container__double-card-recomendados-song-first-image" src={{song.iconLove}} alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container__list">
        <div class="container__list-song-head">
            <ul class="container__list-song-head-ul">
                <li>Fecha</li>
                <li>Remixer</li>
                <li>Artista</li>
                <li>Tema</li>
                <li>Version</li>
                <li>BPM</li>
                <li>Genero</li>
                <li>Previo/Descarga</li>
            </ul>
        </div>
        <div class="container__list-song" *ngFor="let item of songsList | paginate: { itemsPerPage: itemForPage, currentPage: numberPage}" >
            <div class="container__list-song-card">
                <div class="container__list-song-card-item-fecha" >
                    <div class="container__list-song-card-item-fecha-estampas" >
                        <img src="../../../assets/index-usuario/hot.png" alt="">
                        <img src="../../../assets/index-usuario/new.png" alt="">
                    </div>
                    <p>{{item.fecha}}</p>
                </div>
                <div class="container__list-song-card-item elemento" >
                    <img class="elemento" src={{item.remixerLogo}} alt="" (mouseover)="mostrarTextoFlotante=true" (mouseout)="mostrarTextoFlotante=false">
                    <p>{{'DJ Pepe'}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <p>{{item.artista}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <p>{{item.tema}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <p>{{item.version}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <p>{{item.bpm}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <p>{{item.genero}}</p>
                </div>
                <div class="container__list-song-card-item">
                    <div class="container__list-song-card-item-previoDescarga">
                        <img src={{item.iconStart}} alt="">
                        <img src={{item.iconDownload}} alt="">
                        <img src={{item.iconLove}} alt="">
                    </div>
                    <div class="previoDescarga__botonera">
                        <img src="../../../assets/index-usuario/puntoverde.png" class="puntoVerdeTabla" alt="">
                        <img src="../../../assets/index-usuario/puntoverde.png" class="puntoVerdeTabla" alt="">
                        <img src="../../../assets/index-usuario/puntorojo.png" class="puntoVerdeTabla" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container__list-pagination">
            <div class="container__list-pagination-pagination">
                <pagination-template class="container__list-pagination-pagination-template" #p="paginationApi"
                (pageChange)="numberPage = $event"
                (pageBoundsCorrection)="pageBoundsCorrection.emit($event)">

                    <div class="pagination-previous container__list-pagination-pagination-pagina" [class.disabled]="p.isFirstPage()" [ngClass]="{'container__list-pagination-pagination-pagina': p.isFirstPage() === false}">
                        <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
                    </div>
            
                    <div class="container__list-pagination-pagination-pagina" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            {{ page.label }}
                        </a>
                        <div class="container__list-pagination-pagination-pagina-active " *ngIf="p.getCurrent() === page.value">
                            {{ page.label }}
                        </div>
                    
                    </div>
                    
                    <div class="pagination-next" [class.disabled]="p.isLastPage()" [ngClass]="{'container__list-pagination-pagination-pagina': p.isLastPage() === false}" >
                        <a class="container__list-pagination-pagination-pagina" *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                        <a class="container__list-pagination-pagination-pagina" *ngIf="!p.isLastPage()">{{totalPageList}}</a>
                        <div class="pagination__nav">
                            <p class="pagination__nav-text">Página {{p.getCurrent()}} de {{totalPageList}}</p>
                        </div>
                        
                        
                    </div>
                
                </pagination-template>
            </div>
            
        </div>
    </section>
</main>
<section class="container__footer">
    <app-footer></app-footer>
</section>
  