<div class="container__modal" [ngClass]="{'background__slider-btn': modalShow === true}">
    <div class="container__modal-body">
        <div class="contacto__formulario">
            
            <form class="contacto__formulario-formulario" action="">
              <img class="contacto__formulario-formulario-times__close" (click)="closeModal()" src="../../../assets/times-close.svg" alt="">
              <h3 class="formulario__titulo">registrate</h3>
              <input class="contacto__formulario-formulario-campos"type="text" placeholder="Nombre">
              <input class="contacto__formulario-formulario-campos" type="text" placeholder="Contraseña">
              <input class="contacto__formulario-formulario-campos" type="text" placeholder="Repita Contraseña">
                
              <input type="checkbox" id="check1" checked/>
              <label for="check1" class="contacto__formulario-formulario-label">Acepto Terminos y Condiciones</label>
              <button class="contacto__formulario-formulario-btn" >Aceptar</button>
            </form>  
          </div>
    </div>
</div>
