<section>
    <app-menu-responsive [logo]=true [buscador]=true></app-menu-responsive>
</section>
<div class="section__main">
    <section class="section__titulo">
        <h1 class="section__titulo-titulo">SELECCIONA TU MEMBRESIA</h1>
        <p class="section__titulo-subtitulo">Tu membresia se renueva automaticamente, para cancelar envianos un mensaje a: <a href="mailto:admin@remixmp4.com">admin@remixmp4.com</a></p>
    </section>
    <section class="section__membresia">
        <div class="container__membresia" *ngFor="let plan of cardMembresiaList">
            <div class="container__membresia-card" >
                <h2 class="container__membresia-card-titulo">{{plan.titulo}}</h2>
                <ul class="container__membresia-card-items">
                    <li class="container__membresia-card-items-item">{{plan.precio}}</li>
                    <li class="container__membresia-card-items-item">{{plan.tipoPlan}}</li>
                    <ng-container *ngFor="let serviceItem of plan.servicios">
                        <li class="container__membresia-card-items-item">{{serviceItem}}</li>
                    </ng-container>
                </ul>
                <button class="container__membresia-card-button">ADQUIRIR</button>
            </div>
        </div>
    </section>
    <div class="container__buttom-regresar">
        <app-boton-regresar class="container__buttom-regresar-btn" [rutaCustom]="rutaCustom"></app-boton-regresar>
    </div>
</div>
<section>
    <app-footer></app-footer>
</section>