<header class="container__header">
    <div class="container__menu">
      <img class="container__menu-menu" src="../../../assets/responsive/menu-svgrepo-com.svg" (click)="openMenu()" alt="">
    </div>
    <nav class="header__nav" >
      <ul class="header__nav-enlaces" *ngIf="isOpen">
        <li><a class="header__nav-enlaces-a" routerLink="/">inicio</a></li>
        <li><a class="header__nav-enlaces-a" >registrarse</a></li>
        <li><a class="header__nav-enlaces-a">nosotros</a></li>
        <li><a class="header__nav-enlaces-a" routerLink="/membresia">membresia</a></li>
        <li><a class="header__nav-enlaces-a">contactanos</a></li>
      </ul>
    </nav>
</header>
<section class="section__titulo">
    <h1 class="section__titulo-titulo">MI CUENTA</h1>
</section>
<section class="section__cuenta">
    <div class="container__aside">
        <div class="container__aside-aside">
            <label class="container__aside-aside-label">E-mail:<input class="container__aside-aside-input" type="text" id="Name" name="Name" value="pepe@gmail.com"/></label>
            <div>
                <div class="container__aside-aside-contraseña">
                    <label class="container__aside-aside-label ">Contraseña:<input class="container__aside-aside-input" type="text" id="Name" name="Name" value="*********"/></label>
                    <div class="container__aside-aside-contraseña-button">
                        <button class="button__button">Cambiar</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="container__aside-aside-contraseña">
                    <label class="container__aside-aside-label">Mi Plan Actual:<input class="container__aside-aside-input" type="text" id="Name" name="Name" value="Plan basico"/></label>
                    <div class="container__aside-aside-contraseña-button">
                        <button class="button__button">Mejorar</button>
                    </div>
                </div>
            </div>
            <div class="container__redes">
                <label class="container__redes-titulo" for="Name">Registra url de tus Redes:</label>
                <div class="container__redes-redes">
                    <div class="container__redes-redes-group">
                        <img class="input__image" src="../../../assets/my-user/insta-my-user.svg" alt="">
                        <input class="container__aside-aside-input input__redes" type="text" id="Name" name="Name"/>
                    </div>
                    <div class="container__redes-redes-group">
                        <img class="input__image" src="../../../assets/my-user/facebook.svg" alt="">
                        <input class="container__aside-aside-input input__redes" type="text" id="Name" name="Name"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__cuenta">
        <div class="container__cuenta-card" >
            <ul class="container__cuenta-card-fila" [ngClass]="{'ajustContainer': colActiva === false}">
                <li class="container__cuenta-card-fila-col">Fecha</li>
                <li class="container__cuenta-card-fila-col">N°Orden</li>
                <li class="container__cuenta-item-fila-col" (click)="selectCol($event)" *ngIf="filterOption">
                    {{selectedItem}}
                    <div class="dropdown__container" *ngIf="dropdownActive">
                        <ul class="dropdown__container-ul">
                            <li class="dropdown__container-ul-item" (click)="selectCol($event)">Plan Membresia</li>
                            <li class="dropdown__container-ul-item" (click)="selectCol($event)">Pago</li>
                            <li class="dropdown__container-ul-item" (click)="selectCol($event)">Precio total</li>
                        </ul>
                    </div>
                </li>
                <li class="container__cuenta-card-fila-col" *ngIf="colActiva">Plan Membresia</li>
                <li class="container__cuenta-card-fila-col" *ngIf="colActiva">Pago</li>
                <li class="container__cuenta-card-fila-col" *ngIf="colActiva">Precio total</li>
            </ul>
        </div>
        <div class="container__cuenta-item">
            <ul class="container__cuenta-item-fila" *ngFor="let i of itemListUser" [ngClass]="{'ajustContainer': colActiva === false}">
                <li class="container__cuenta-item-fila-col">{{i.fecha}}</li>
                <li class="container__cuenta-item-fila-col">{{i.nOrder}}</li>
                <li class="container__cuenta-item-fila-col" [ngClass]="{'hideenColumn': membresiaActive === false}">{{i.membresia}}</li>
                <li class="container__cuenta-item-fila-col" [ngClass]="{'hideenColumn': pagoActive === false}">{{i.pago}}</li>
                <li class="container__cuenta-item-fila-col" [ngClass]="{'hideenColumn': precioActive === false}">{{i.precioTotal}}</li>
            </ul>
        </div>
    </div>
</section>
<section class="container__footer">
    <app-footer></app-footer>
</section>