@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/autoplay';
@import 'aos/dist/aos.css';

*{
    background-color: #000;
    scroll-behavior: smooth;
}
@font-face {
  font-family: 'Hanson_Bold';
  src: url('assets/fonts/Hanson-Bold.ttf'); 
}
@font-face {
  font-family: 'MonumentExtended_Regular';
  src: url('assets/fonts/monumentextended-regular.otf'); 
}
@font-face {
  font-family: 'MonumentExtended_Bold';
  src: url('assets/fonts/monumentextended-ultrabold.otf'); 
}
@font-face {
  font-family: 'Nexa-Bold';
  src: url('assets/fonts/Nexa-Bold.otf'); 
}
body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
